body {
  font-family: 'Inter', sans-serif;
  background-color: #f7efe2;
  color: #0a546c;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Lora', serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
